:root {
    --white: #ffffff;
    --black: #000000;
    --blue-p: #2c3e50;
    --blue-hov: #1e2a36;
    --orange: #ed6755;
    --orange-hov: #c45445;
    --background: #e6e0e0;
}

body {
    background-color: var(--background);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

/* Botones de Abrir */
.popUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.popUp .popupCookies, .popupSesion {
    background-color: var(--blue-p);
    color: var(--white);
    font-size: 2em;
    padding: 2% 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 10px gray;
    transition: .5s ease;
    width: 40%;
}

.popUp .popupCookies:hover, .popupSesion:hover {
    background-color: var(--blue-hov);
}

/* Overlay 1 */
.containerCookies {
    display: none;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0,0,0,.2); 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    
}

.containerCookies.active {
    display: flex;
}

/* PopUp Cookies */
.cardContainer {
    background-color: var(--white);
    width: 432px;
    height: 399px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.cardContainer img {
    margin-top: 13%;
}

.cardContainer p {
    color: var(--black);
    font-size: 1.2em;
    text-align: center;
    width: 70%;
}

.cardContainer .btn1 {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.2em;
    padding: 5% 14%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15%;
    cursor: pointer;
    box-shadow: 0 3px 10px gray;
}

.cardContainer .btn1:hover {
    background-color: var(--orange-hov);
}

.cardContainer .cerrarPopup i {
    position: absolute;
    color: gray;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.cardContainer .cerrarPopup i:hover {
    font-size: 1.1em;
    color: rgb(78, 78, 78);
}

/* PopUp Sesion */
.containerSesion {
    display: none;
    justify-content: center;
    align-items: center;  
    background-color: rgba(0,0,0,.2); 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.containerSesion.active {
    display: flex;
}

.cardContainer2 {
    background-color: var(--white);
    width: 432px;
    height: 399px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.cardContainer2 img {
    margin-top: 13%;
}

.cardContainer2 p {
    color: var(--black);
    font-size: 1.2em;
    text-align: center;
    width: 70%;
}

.cardContainer2 .btn2 {
    background-color: var(--blue-p);
    color: var(--white);
    font-size: 1.2em;
    padding: 5% 14%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15%;
    cursor: pointer;
    box-shadow: 0 3px 10px gray;
}

.cardContainer2 .btn2:hover {
    background-color: var(--blue-hov);
}

.cardContainer2 .cerrarPopup i {
    position: absolute;
    color: gray;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.cardContainer2 .cerrarPopup i:hover {
    font-size: 1.1em;
    color: rgb(78, 78, 78);
}
